In [1]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
%matplotlib inline
import seaborn as sns

In [2]:
crop_rec= pd.read_csv("Crop_recommendation.csv")

In [3]:
crop_rec.head()

    N   P   K  temperature   humidity        ph    rainfall label
0  90  42  43    20.879744  82.002744  6.502985  202.935536  rice
1  85  58  41    21.770462  80.319644  7.038096  226.655537  rice
2  60  55  44    23.004459  82.320763  7.840207  263.964248  rice
3  74  35  40    26.491096  80.158363  6.980401  242.864034  rice
4  78  42  42    20.130175  81.604873  7.628473  262.717340  rice

In [4]:
crop_rec["label"].unique()

array(['rice', 'maize', 'chickpea', 'kidneybeans', 'pigeonpeas',
       'mothbeans', 'mungbean', 'blackgram', 'lentil', 'pomegranate',
       'banana', 'mango', 'grapes', 'watermelon', 'muskmelon', 'apple',
       'orange', 'papaya', 'coconut', 'cotton', 'jute', 'coffee'],
      dtype=object)

In [5]:
crop_rec.isnull().sum()

N              0
P              0
K              0
temperature    0
humidity       0
ph             0
rainfall       0
label          0
dtype: int64

In [6]:
from sklearn.model_selection import train_test_split

In [7]:
X_train, X_test, y_train, y_test = train_test_split(crop_rec.drop(["label"],axis=1), crop_rec["label"], test_size=0.2)

In [11]:
X_train

        N    P    K  temperature   humidity        ph    rainfall
592    40   55   18    30.382579  40.592607  7.115994   47.954065
305    26   65   22    17.848066  18.776220  5.949949  143.098417
1372   90   14   52    24.847408  89.204546  6.391858   59.679272
528    22   43   24    25.425170  53.220827  4.523636   46.193746
1571    5  136  195    22.356287  91.923605  6.264203  107.769741
...   ...  ...  ...          ...        ...       ...         ...
1536   18  125  204    22.355482  94.478118  6.046674  116.736626
1893   22   16   27    29.179790  90.272143  6.006785  188.925208
1084  104   73   46    29.140092  80.119023  6.282362   90.451429
38     60   43   44    21.019447  82.952217  7.416245  298.401847
1184    0   36   26    34.130722  51.257862  5.101206   96.388080

[1760 rows x 7 columns]

In [12]:
from sklearn.ensemble import RandomForestClassifier
clf=RandomForestClassifier(n_estimators=20)
clf.fit(X_train,y_train)
y_pred=clf.predict(X_test)
from sklearn import metrics
print("Accuracy:",metrics.accuracy_score(y_test, y_pred))

Accuracy: 0.9954545454545455

In [13]:
import pickle
with open('crop_rec_model.pickle','wb') as f:
    pickle.dump(clf,f)

In [ ]:
import json
columns={
    'data_columns':[col.lower() for col in crop_rec.drop(["label"],axis=1)]
}
with open('crop_rec_columns','w') as f:
    f.write(json.dumps(columns))